#main-container-createaccount {
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#title-create-account {
    font-size: 30px;
    text-align: center;
}

#button-login {
    font-size: 15px;
    background-color: #F56038;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    cursor: pointer;
}

.error-text {
    color: red;
    align-self: flex-start;
    font-weight: bold;
}

.error-text-empty {
    color: red;
    font-weight: bold;
}

#text-error-login {
    color: red;
    font-weight: bold;
}

#forgot-password-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
}

#register-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    margin-top: -12px;
}

#text-forgot-password {
    cursor: pointer;
    color: #F56038;
}

@media (max-width: 952px) {
    #main-container-createaccount {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}