#main-create-poll-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    min-height: 81vh;
}

#content-create-poll {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 40%;
    height: 100%;
    background-color: white;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}

#title-create-poll {
    font-size: 30px;
}

#form-create-poll {
    width: 100%;
    margin-bottom: 50px;
}

#radio-input {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.option-poll-container {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.option-poll-container:last-child {
    margin-bottom: 0px;
}

#options-poll {
    margin-top: 20px;
}

.input-poll-option {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: transparent;
    background-color: #d2d2d2;
    font-size: 15px;
    width: 100%;
    border-radius: 12px;
    margin-right: 10px;
}

#icons-add-remove {
    display: flex;
    flex-direction: row;
}

#trash-icon {
    margin-left: 10px;
}

#button-create-poll {
    background-color: #F56038;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

#alert-error-poll {
    color: red;
    font-weight: bold;
    margin-top: 0px;
}

.icon-poll-create {
    cursor: pointer;
}

#calendar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 40px;
}

#input-hour-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    padding: 20px;
}

#input-hour {
    background-color: #F56038;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    color: white;
}

#datetime-input {
    background-color: #F56038;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 1300px) {
    #content-create-poll {
        width: 70%;
    }
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}