#main-content-homepage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#second-content-homepage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#header-text-main-content {
  color: #F56038;
  font-weight: bolder;
  font-size: 50px;
}

#header-text-main-content-container {
  width: 25%;
}

#header-text-submain-content-container {
  width: 25%;
}

#button-init-voter-homepage {
  background-color: #F56038;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

#description-text-main-homepage {
  color: #F56038;
  font-size: 16px;
  margin-top: -40px;
}

#main-image-homepage {
  margin-top: 30px;
  width: 700px;
}

#submain-image-homepage {
  margin-top: 30px;
  width: 700px;
}

.show-slide-container {
  position: absolute;
  left: -30em;
  width: 30em;
  height: 20em;
  -webkit-animation: slide-in 1s forwards;
  animation: slide-in 1s forwards;
}

@media (max-width: 952px) {
  #main-content-homepage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #second-content-homepage {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
  }

  #header-text-main-content-container {
    width: 70%;
  }

  #header-text-submain-content-container {
    width: 70%;
  }

  #main-image-homepage {
    margin-top: 30px;
    width: 500px;
  }
}